Spoons
.DS_Store
tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data

*.bak
lazy-lock.json
.venv
.pytest_cache
.vscode/settings.json
.vscode/
.ruff_cache
.svn
.rgignore
.mypy_cache
.ipynb_checkpoints
.pytest_cache/
